@import url("https://fonts.googleapis.com/css?family=lato:400,700");
body {
    background-color: rgb(236, 236, 236);
    font-family: "lato", sans-serif;
}

li {
    list-style: none;
}

a {
    color: black;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    background-color: #ebebeb;
    padding: 0px 25px;
    min-height: 77px;
    top: 0;
}
